<h2>Notes</h2>

<table id="note-table">
	<tr>
		<td>Title</td>
		<td>Body</td>
		<td>Timer</td>
		<td><div class="span1"></div></td>
	</tr>
	<% @notes.each do |note| %>
	<tr>
		<td><%= link_to note.title, note_path(note.id) %></td>
		<td><%= note.body %></td>
		<td><%= note.timer %> min </td>
		<% if note.user_id == current_user.id %>
			<td><%= link_to "<i class='icon-pencil'></i>".html_safe, edit_note_path(note.id) %></td>
			<td><%= link_to "<i class='icon-trash'></i>".html_safe, note, confirm: "Are you sure?", method: :delete %></td>
		<% end %>
	</tr>
	<% end %>
</table>