<h2>New</h2>

<%= form_for(@note) do |f| %>
	
	<div class="field" %>
		<p>Title</p>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<p>Body</p>
		<%= f.text_area :body %>
	</div>

	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>

	<!-- Unsure about 'maketime' field for timestamp, should not be manually aded -->

	<div class="field">
		<p>Timer</p>
		<%= f.text_field :timer %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

	<div class="error-msg">
	<% if @note.errors.any? %>
		<ul>
			<% @note.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li>
			<% end %> 
		</ul>
	<% end %> 
	</div>

<% end %>