<br>
<br>
	<h2><%= @note.title %></h2>
<br>
	<% if (@note.timer <  ((Time.now - @note.created_at) / (60))) %>
		<h4>Contents:</h4>
		<h5><%= @note.body %></h5>
	<% else %>
		<h5><%= ((@note.timer - (Time.now - @note.created_at) / 60)*100).floor / 100.0 %> minutes to go! </h5>
	<% end %>

	<br>

	<h4> -- <%= @note.user.name %></h4>

	<br>

	<% if @note.user_id == current_user.id %>
		<%= link_to "<i class='icon-trash'></i>".html_safe, @note, confirm: "Are you sure?", method: :delete %>
	<% end %>