
<div>
	<h2><%= @note.title %></h2>
	<p>Message: <%= @note.body %></p>
	<p>Entered: <%= @note.timer %></p>

	<p>Ellapsed: 
		<%= @ellapsed / 60%>
	</p>

	<p>Remaining: 
		<%= (@note.timer - @ellapsed / 60) %>
	</p>
</div>


