<h1>I'm a plain old Users#new page</h1>
<p>Find me in app/views/users/new.html.erb</p>

<br>
<%= link_to "Home", root_path %>
<%= link_to "Users", users_path %>
<br>

<%= form_for(@user) do |f| %>
	
	<div class="field">
		<p>name</p>
		<%= f.text_field :name%>
	</div>

	<div class="field">
		<p>email</p>
		<%=f.text_field :email%>
	</div>

	<div class="field">
		<p>password</p>
		<%=f.text_field :password%>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>