<h1 class="page-header">Hello, <%= @user.name %>!</h1>

<p>You have</p>

<h2 class="sub-header">Notes</h2>
	<% @notes.each do |note| %>

	  <div class="table-static">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Title</th>
	          <th>Timer</th>
	          <th>Elapsed</th>
	          <th>Message</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><%= link_to note.title, note_path(note.id) %></td>
	          <td><%= note.timer %></td>
	          <td><%= (Time.now - note.created_at) / (60) %></td>
	          <td>
	          	<% if (note.timer <  ((Time.now - note.created_at) / (60))) %>
								<p><%= note.body %></p>
							<% else %>
								<p>--hidden-- </p>
							<% end %>
						</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	<% end %>

