<!DOCTYPE html>
<html>
<head>
  <title>MyCapsule</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<header>

	<nav class="navbar">
		<section class="navbar-left">
			<ul>
			<li id="title">
				<%= link_to('MyCapsule', root_path) %>
			</li>
			</ul>
		</section>	

		<section class="navbar-right">
			<ul>
			<li>
				<%= link_to "Add Note", new_note_path %>
			</li>
			<li>
				<%= link_to "Notes", notes_path %>			
			</li>
		<% if user_signed_in? %>
			<li>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</li>
		<% else %>
			<li>
				<%= link_to('Login', new_user_session_path) %>
			</li>
		<% end %>
			</ul>	
		</section>
	</nav>

</header>


<!-- Notifications and alerts from devise -->
<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>

<%= yield %>

<footer>
	<center>
	<section class="footer-mid">
		<p>Derick Olson | CIS196 | 2014</p>
	</section>
	</center>
</footer>


</body>
</html>
