<!DOCTYPE html>
<html>
<head>
  <title>Capsulo.us</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<header>

<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
	    <%= link_to "Capsulous", root_path, :class =>"brand" %>
	    <ul class="nav">
	    	<% if user_signed_in? %>
	    		<li><%= link_to "Browse Notes", notes_path %>	</li>
	    	<% end %>
	      <li><%= link_to "New Note", new_note_path %></li>
	    </ul>
	    <ul class="nav pull-right">
			<li class="active">
			<% if user_signed_in? %>
		  		<li class="dropdown">
			    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      <i class="icon-user"></i>  <%= current_user.email %>
			      <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
			    	<li><%= link_to "Dashboard", dashboard_path %></li>
			    	<li><%= link_to "Profile", edit_user_registration_path %></li>
			    	<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
			    </ul>
			<% else %>
				<li><%= link_to('Log In', new_user_session_path)%></li>
				<li class="active">
					<%= link_to('Join', new_user_path, :class=>"btn-medium btn-primary", :id=>"sign-up-btn") %>
				</li>	
			<% end %>
		</ul>
	</div>
</header>


<center>
	<%= yield %>

	<div class="navbar navbar-fixed-bottom navbar-inverse">
		<div class="navbar-inner">
			<ul><li><p class="muted">Derick Olson | CIS196 | 2014</p></li></ul>
		</div>
	</div>
</center>

</body>
</html>
